.header
  width: 600px
  height: 100px
  text-align: center
  margin-top: 1rem

  h1
    font-size: 48px
    font-weight: bold
    font-style: italic
    color white
    margin 0

  p
    font-size: 24px
    font-style: italic
    color #EFEFEF
    margin 0